<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
</head>
<body>
    <h1>Python Quiz App</h1>
    <ul>
        {% for quiz in quizzes %}
        <li>
            <a href="{{ url_for('quiz', quiz_id=quiz.id) }}">{{ quiz.title }}</a>
            <p>{{ quiz.description }}</p>
        </li>
        {% endfor %}
    </ul>
    <footer>
        <p>Developer: Muhammet BULUT</p>
    </footer>
</body>
</html>
